config ARCH_MEDIATEK
	bool "Mediatek SOCs" if ARCH_MULTI_V7
	select ARCH_REQUIRE_GPIOLIB
	select ARM_GIC
	select CACHE_L2X0
	select HAVE_ARM_TWD if LOCAL_TIMERS
	select HAVE_SMP
	select LOCAL_TIMERS if SMP
	select COMMON_CLK
	select GENERIC_CLOCKEVENTS
	select MTK_TIMER
	select CLKSRC_MMIO
	help
	  Support for Mediatek Cortex-A7 Quad-Core-SoC MT6589.
